.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post_header {
  display: flex;
  margin-bottom: 10px;
}

.postInfo {
  margin-left: 10px;
}

.postInfo > p {
  font-size: 12px;
  color: gray;
}

.postInfo > h2 {
  font-size: 15px;
}

.post_buttons {
  display: flex;
  justify-content: space-between;
}
.like_buttons {
  padding-top: 20px;
  color: #808080;
}
.color_Like {
  color: #0a66c2;
}

.post_body {
  overflow-wrap: anywhere;
}
