.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f2ef;
  /* background-color: #091f31; */
  overflow: hidden;

  /* overflow-y: auto; */
}

.app_body {
  display: flex;
  max-width: 1200px;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
